<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de alunos</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Lista de alunos</h1>
        <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nota</th>
                <th>Status</th>
            </tr>
        </thead>
        <body>
            <tr>
                <td>Felipe</td>
                <td>10.0</td>
                <td>Aprovado</td>
            </tr>
        </body>
    </table>
    </div>
</body>

</html>