<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar alunos</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Atualizar Aluno</h1>
    <div class="container">
    <form action="/atualizar" method="post">
        <label>
            Nome do aluno:
        </label>
        <input type="text" name="nome" required>

        <label>
            Nota:
        </label>
        <input type="number" name="nota" required>

        <button type="submit" class="botao">Salvar</button>
    </form> 
    <a href="/" class="voltar">Voltar</a>
    </div>
</body>

</html>